@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
}
.container {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 1100px;
}
.card {
  background-color: rgba(127, 169, 155, 0.3);
  padding: 50px 20px 20px 20px;

  font-family: "Raleway", sans-serif;
}
.city {
  margin-top: -50px;
}

.searchCity {
  position: relative;
  margin: 20px auto;
  width: 40%;
}
.searchButton {
  position: relative;
}

.btn-primary {
  background-color: #fdc57b;
  border: solid 1px #fdc57b;
}
h1,
h2,
.weekDay,
.dateMonth,
.daysOfweekstate {
  color: #394a51;
}
h1 {
  font-weight: 600;
  font-size: 150px;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 80px;
  margin-bottom: -15px;
}
.units {
  position: relative;
  left: -100px;
  top: -150px;
  text-decoration: none;
  color: #394a51;
}
.unitsLink {
  text-decoration: none;
  color: #394a51;
  font-weight: 500;
}
.active {
  cursor: default;
  color: #394a51;
  font-weight: 700;
}
.unitsLink:hover {
  color: #394a51;
}

.headTop {
  margin: 20px;
}
.weekDay {
  font-weight: 200;
  font-size: 50px;
}
.dateMonth {
  margin-top: -15px;
  font-weight: 600;
  font-size: 28px;
}
.daysOfweekstate {
  position: relative;
  text-align: right;
  top: 39px;
  font-size: 40px;
  line-height: 35px;
}
.tempBtn {
  position: relative;
  text-align: right;
  top: 39px;
  right: -350px;
}
.headTop {
  margin-bottom: -100px;
}
.weatherIcon {
  width: 50%;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(-5px -15px 10px rgba(255, 255, 255, 0.3))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.02))
    drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.02));
}
.weatherIcon:hover {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
#descriptionDay {
  text-transform: capitalize;
}
#humidity,
#wind {
  top: -250px;
  font-weight: 600;
  font-size: 28px;
}

.daysOfweek {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 15px;
  color: #394a51;
}
.weekDay02 {
  font-weight: 900;
}
.weatherSvg02 {
  margin-top: 20px;
}
.strong {
  font-weight: 700;
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
.codeBy {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}
.codeBy a {
  color: #394a51;
}
